@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Suez+One');

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body{
    background-color: #f6f6f6;
    height: 100%;
}

a {
    color: white;
    text-decoration: none;
    transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
}

a[type ="sign"]{
    background-color: rgba(236, 101, 80, 1);
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
    transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
}

img {
    max-width: 100%;
    height: auto;
    width: auto ;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #343434;
    width: 100%;
    border-bottom: 5px solid #59595a;
}

header > div#logo > span {
    margin-top: 0.5vw;
    font-size: 3.25vw;
    margin-left: 2.5vw;
    font-family: 'Suez One', serif;
    color: white;

}

.hide{
    display: none;
}

.logo_hub {
    background-color: rgba(236, 101, 80, 1);
    border-radius: 0.5vw;
    color: black;
}

#about {
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5vw;;
}

#about.hide{
    display: none;
}

#about > a {
    color: white;
}

#about > a:hover {
    color: #dfdfdf;
    border-bottom: 1px solid silver;
}

#reg_auth > a {
    display: inline-block;
    color: white;
    margin-right: 3%;
    border-radius:1%;
    padding: 1% 2%; 
    font-size: 2vw;
    background-color: rgba(236, 101, 80, 1);
    text-shadow: #454545 0 0 1%;
    border-bottom: 0.5vw solid rgba(217, 91, 72, 1);
    font-family: 'Roboto Slab', serif;
}


#TopUser{
    margin-top: 0.5vw;
    display: flex;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5vw;
}

#TopUser > a {
    color: white;
}

#TopUser > a:hover {
    color: #dfdfdf;
    border-bottom: 1% solid silver;
}

#Avatar{
    display: inline-block;
    background-color: #59595a;
    width: 60%;
    margin: 1vw ;
    border: 1% solid silver;
    border-radius: 5%;
}

#Search{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #59595a;
    width: 60%;
    margin-top: 1vw ;
    border: 1% solid silver;
    border-radius: 5%;
}

#Search>.btn{
    display:flex;
    margin-bottom: 0.5vw;
    border-radius:  1%;
    font-size: 1.5vw;
    background-color: rgba(236, 101, 80, 1);
    text-shadow: #454545 0 0  1%;
    border-bottom:  1% solid rgba(217, 91, 72, 1);
    font-family: 'Roboto Slab', serif;
}

#Search>.btn:hover{
    margin-top:  2%;
    border-bottom:  1% solid rgba(217, 91, 72, 1);
}

#Search>.btn:active{
    margin-top:  2%;
    border-bottom: 0;
}

.filter{
    font-family: 'Roboto Slab', serif;
    color:rgba(236, 101, 80, 1);
    font-size: 2.5vw;
}

input[type="text"] {
    border: 5% solid rgba(217, 91, 72, 1);
    border-radius: 8px; 
    background: #ffffff !important; 
    outline: none; 
    margin-top: 5%;
    height: 10%; 
    width: 80%;
    color: black; 
    font-size: 2.5vw; 
    font-family: 'Roboto Slab', serif;
 }
 input[type="filter_input"] {
    border: 5% solid rgba(217, 91, 72, 1);
    border-radius: 5px; 
    background: #ffffff !important; 
    margin-left: 0.5vw;
    height: 10%; 
    width: 80%;
    color: black; 
    font-size: 1.5vw; 
    font-family: 'Roboto Slab', serif;
 }

 button[type = "submit"]{
    border: 5% solid rgba(217, 91, 72, 1);
    border-radius: 8px; 
    background-color: rgba(236, 101, 80, 1);
    outline: none; 
    margin-top: 5%;
    flex: auto;
    height: 10%; 
    width: 50%;
    color: rgba(217, 91, 72, 1); 
    font-size: 2.5vw; 
    font-family: 'Roboto Slab', serif;
 }

.authorization{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color:white;
    font-size:3.5vw ;
}

.registration{
    margin-bottom: 2vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inputsearch{
    margin-bottom: 0.5vw;
    padding-left: 8%;
    margin-top: 0.2vw;

}

.fix{
    position:fixed;
}

.pic{
    width: 75%;
    float: right;
    padding-top: 3%;
    padding-left: 1%;
    padding-right: 5%;
    padding-bottom: 2%;

}

.pic_for_guest{
    width: 90%;
    float: right;
    padding-top: 3%;
    padding-left: 1%;
    padding-right: 5%;
    padding-bottom: 2%;

}

.ava{
    display: inline-block;
    width: 13%;
    margin-left: 1.5vw;
    margin-top: 1.5vw;  
}
.red{
    width: 70%;
    margin-left: 2vw;
    margin-top: 1vw; 
}


.like{
    width: 70%;
    margin-left: 2vw;
    margin-top: 1vw;  
}

.delete{
    width: 70%;
    margin-left: 2vw;
    margin-top: 2vw; 
}

.addPost{
    background-color: #59595a;
    border:  1% solid silver;
    border-radius: 5%;
    margin-bottom: 2vw;
    margin-top: 2vw;
    width: 53%;

}

#edit{
    width:17%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

article{
    background-color: #59595a;
    border:  1% solid silver;
    border-radius: 5%;
    margin-bottom: 2vw;
    width: 20%;
}

registration_form{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #59595a;
    width: 45%;
    border:  1% solid silver;
    border-radius: 5%;
    margin-bottom: 1%;
    margin-top: 5vw;
    margin-bottom:7vw; 

}

#message{
    display: flex;
    align-items: center;
    background-color: #59595a;
    width:60%;
    border:  1% solid silver;
    border-radius: 5%;

}

#user_name{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    /* padding-left: 30%; */
    font-size: 1.5vw;
}
#user_name:hover{
    color: silver;
}

.user_name1{
    font-family: 'Roboto Slab', serif;
    display: inline-block;
    font-size: 2vw;
    margin-left: 2vw;

}
.user_name1:hover{
    color: silver;
}

.fixed{
    position: fixed;
    top: 0;
    opacity: 0.97;
}

#Add >.btn {

    display:flex;
    margin-left:20vw; 
    font-size: 2vw;
    background-color: rgba(236, 101, 80, 1);
    text-shadow: #454545 0 0 2px;
    border-bottom: 3px solid rgba(217, 91, 72, 1);
    font-family: 'Roboto Slab', serif;
}

#Add > .btn:hover {
    margin-top: 7px;
    border-bottom: 2px solid rgba(217, 91, 72, 1);
}

#Add >.btn:active {
    margin-top: 9px;
    border-bottom: 0;
}

#Add.hide{
    display: none;
}

#TopUser.hide{
    display: none;
}

.Data_and_time{
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 2vw;
    margin-left: 8vw;
}

.article_information{
    display: inline-block;
    align-self: center;
}

.HashTeg{
    float: left;
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 2vw;
    padding-left: 3%;

}

.Description{
    float: left;
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 2vw;
    padding-left: 3%;
}

#MyPageTitle{
    font-family: 'Roboto Slab', serif;
    font-size: 2vw;
    font-weight: bold;
}
#DownloadButton>.btn{
    display: flex;
    float: right;
    border-radius:  1%;
    padding-left: 2.7%;
    padding-right: 2.7%;
    font-size: 2vw;
    background-color: rgba(236, 101, 80, 1);
    text-shadow: #454545 0 0  1%;
    border-bottom:  1% solid rgba(217, 91, 72, 1);
    font-family: 'Roboto Slab', serif;
}
#DownloadButton>.btn:hover{
    margin-top:  1.5%;;
    border-bottom:  1% solid rgba(217, 91, 72, 1);
}
#DownloadButton>.btn:active{
    margin-top:  1.5%;
    border-bottom: 0;
}


footer {
    
    background-color: #343434;
    width: 100%; 
    display: inline-block;
    border-top: 5px solid #59595a;
    font-family: 'Roboto Slab', serif;
}

#site_name {
    margin-right: 5%;
    float: right;
    font-size: 2vw;
}

#site_name > span {
    font-family: 'Suez One', serif;
    color: white;
}

footer{
    margin-top:0.8%;
    
}

#footer_menu {
    font-size: 1.8vw;
    font-family: 'Roboto Slab', serif;
}

#footer_menu>a {
    margin-left: 2%;
    color: #f4f4f4;
}

#footer_menu>a:hover{
    border-bottom: 1px solid silver;
    color: #aeaeae;
}


main{
    display: flex;
    justify-content: center; 
    width: 100%;
    height: auto;

}

.userAvatar{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 40vw;
}

.userAvatar.hide{
    display: none;
}


.photoPosts{
    display: inline-block;
}

.post{
    display: inline-block;
    width: 80%;
}

#MyPage{
    display: flex;
    justify-content: flex-start;
    margin: 1.5vw;
}

.site_content{
    width: 65%;
    display: inline-block;
}

.site_content.hide{
    display: none;
}







    
    
